h2{
    font-size: 40px;
	color: black;
	box-shadow: 4px 4px rgb(238, 156, 239);
	width: 40%;
	margin: 30px auto;
	padding: 10px;
    background-color: rgb(224, 87, 255) ;
   

}
p{
    font-weight: bold;
}
body{
    text-align: center;
    color: white;
    background-color: black;
    border: 10px solid white;
}
h3{
    font-size: 25px;
}